<div class="pcontainer">
 <mat-toolbar color="primary">Products Management
  <button mat-button (click)="openDialog()" >Add Product</button>
 </mat-toolbar>
 <div class="example-container mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource">
  
      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
  
      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef> #. </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
      </ng-container>
  
        <ng-container matColumnDef="photo">
            <mat-header-cell *matHeaderCellDef> <mat-icon>insert_photo</mat-icon> </mat-header-cell>
            <mat-cell *matCellDef="let element"><img width="120" height="80" [src]="getImage(element.id)"> </mat-cell>
          </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
      </ng-container>
  
      <!-- Weight Column -->
      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
      </ng-container>
  
      <!-- Color Column -->
      <ng-container matColumnDef="price">
        <mat-header-cell *matHeaderCellDef> Price </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.price}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef> Manage </mat-header-cell>
        <mat-cell *matCellDef="let element">
            <button mat-icon-button (click)=editDialog(element) color="primary">
                <mat-icon aria-label="edit">create</mat-icon> </button>  
            <button mat-icon-button (click)=suspendProduct(element) [color]="element.active ? 'primary':'warn' ">
                <mat-icon aria-label="suspend">block</mat-icon>  
            </button>
            <button mat-icon-button (click)=suspendProduct(element) color="primary">
                <mat-icon aria-label="remove">remove_circle</mat-icon>  
            </button> 
           
        </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
  
</div>