<mat-toolbar class="mat-elevation-z6" color="primary">
                <mat-toolbar-row>
                </mat-toolbar-row>
                <!-- <img height="100px" width="200px" src="assets/images/pevifb.png" />        
                 -->
        <span>
          Pevi Food E-Commerce
                 
        </span>
       
        <button mat-icon-button (click)="open()">
                <mat-icon aria-label="View Cart Contents">add_shopping_cart</mat-icon>
                <span *ngIf="cartItemCount>0">{{cartItemCount}}</span>
              </button>

</mat-toolbar>
<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
                <button (click)="toggleNav()" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="#">Shop for any item</a>
          
                <div class="collapse navbar-collapse" [ngbCollapse]="isCollaped" id="navbarsExampleDefault">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                  
                    <li class="nav-item">
                      <a class="nav-link " href="#">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="#">Reach Us</a>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" (click)="toggleNav()" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                      <div class="dropdown-menu"  [ngbCollapse]="isCollaped" aria-labelledby="dropdown01">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                      </div>
                    </li>
                  </ul>
                  <form class="form-inline my-2 my-md-0">
                    <input class="form-control mr-sm-2" placeholder="search products here..." type="text">
                    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
                  </form>
                </div>
              </nav>

