<form class="example-form" (ngSubmit)="onSubmit(order)" [formGroup]="order">
<h2 mat-dialog-title>You can make orders without an account</h2>
<mat-dialog-content>
  <mat-tab-group>
    <mat-tab label="Anonymous orders">
    
        <table class="example-full-width" cellspacing="0"><tr>
          <td>
            <mat-form-field class="example-full-width">
            <input formControlName="fname"  matInput placeholder="First name" required> 
               </mat-form-field>
        </td>
          <td><mat-form-field class="example-full-width">
            <input formControlName="lname" matInput placeholder="Last name" required>
           </mat-form-field></td>
          
        </tr>
      <tr>
        <td>
            <mat-form-field class="example-full-width">
                <span matPrefix>+234 &nbsp;</span>
                <input  formControlName="phone" type="tel" matInput  required>
                 <mat-icon matSuffix>mode_edit</mat-icon>
              </mat-form-field>
      </td>
        <td><mat-form-field class="example-full-width">
          <input  formControlName="email" matInput type="email"  required> 
         </mat-form-field></td>
      </tr>
      </table>
      
        <p>
          <mat-form-field class="example-full-width">
            <textarea  formControlName="address" matInput placeholder="Delivery Address" required></textarea>
          </mat-form-field>
        
        </p>
      
    </mat-tab>
    <mat-tab label="Account orders">
    
    </mat-tab>
  </mat-tab-group>
  
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button [disabled]="!order.valid" type="submit">Submit Order</button>
  <button mat-button mat-dialog-close>No</button>
</mat-dialog-actions>
</form>


