<mat-card class="cardyb">
    <mat-card-content>
      <mat-card-header>
        <mat-card-title>Quick Filter</mat-card-title>
        <mat-card-subtitle>Narrow products by price</mat-card-subtitle>
      </mat-card-header>
      <mat-slider (change)="changed($event)"
          class="example-margin"
          [disabled]="disabled"
          [invert]="invert"
          [max]="max"
          [min]="min"
          [step]="step"
          [thumb-label]="thumbLabel"
          [value]="value"
          [vertical]="vertical">
      </mat-slider>
    </mat-card-content>
  </mat-card>

<mat-card class="cardyb">
<mat-selection-list>
    <mat-list-option  [value]="cat.id" (click)="modelChanged($event)" *ngFor="let cat of categories">
      {{cat.name}}
    </mat-list-option>  
     
</mat-selection-list>
</mat-card>

