.example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }
  
  .example-margin {
    margin: 10px;
  }
  
  .mat-slider-horizontal {
    width: 200px;
  }
  
  .mat-slider-vertical {
    height: 200px;
  }

  mat-icon.size-16 {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }