
<mat-card class="cardyb">
    <mat-form-field class="example-full-width cardyboss">
        <input matInput placeholder="Staples" value="Amala">
      </mat-form-field>
<mat-selection-list>
    <mat-list-option *ngFor="let staple of staples">
      {{staple}}
    </mat-list-option>
  </mat-selection-list>
</mat-card>

<mat-card class="cardyb">
        <mat-selection-list >
            <mat-list-option *ngFor="let veg of vegetables">
              {{veg}}
            </mat-list-option>
          </mat-selection-list>
        </mat-card>