<mat-sidenav-container class="example-container">
    <mat-toolbar color="primary">
        <button (click)="openMenu()" mat-icon-button>
            <mat-icon>menu</mat-icon>
        </button>
        <button (click)="logout()" mat-button>
            <mat-icon>power_settings_new</mat-icon>
        </button>
    </mat-toolbar>
    <mat-sidenav #sidenav class="example-sidenav">
        <mat-toolbar class="sidenavbar" color="primary">
                <img  class="mat-card-avatar" src="assets/images/funny-avatar.jpg" />
       </mat-toolbar>
        <mat-nav-list>
            <a mat-list-item routerLink="{{link.go}}" *ngFor="let link of links"> {{link.title }} </a>
        </mat-nav-list>


    </mat-sidenav>

    <router-outlet></router-outlet>

</mat-sidenav-container>